<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backdemo.mapper.user.TPayeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.backdemo.entity.user.TPayee">
        <id column="id" property="id" />
        <result column="payer_id" property="payerId" />
        <result column="customer_id" property="customerId" />
        <result column="first_name" property="firstName" />
        <result column="middle_name" property="middleName" />
        <result column="last_name" property="lastName" />
        <result column="native_name" property="nativeName" />
        <result column="frm_currency" property="frmCurrency" />
        <result column="to_currency" property="toCurrency" />
        <result column="country" property="country" />
        <result column="province_state" property="provinceState" />
        <result column="address" property="address" />
        <result column="nationality" property="nationality" />
        <result column="collect_type" property="collectType" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="postal_code" property="postalCode" />
        <result column="msisdn" property="msisdn" />
        <result column="birth_country" property="birthCountry" />
        <result column="source" property="source" />
        <result column="email" property="email" />
        <result column="id_type" property="idType" />
        <result column="id_number" property="idNumber" />
        <result column="id_delivery_date" property="idDeliveryDate" />
        <result column="id_expiration_date" property="idExpirationDate" />
        <result column="occupation" property="occupation" />
        <result column="bank_account_id" property="bankAccountId" />
        <result column="city" property="city" />
        <result column="payer_name" property="payerName" />
        <result column="pay_precision" property="payPrecision" />
        <result column="id_pic_front" property="idPicFront" />
        <result column="id_pic_back" property="idPicBack" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
