<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backdemo.mapper.CardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.backdemo.entity.CardInfo">
        <id column="id" property="id" />
        <result column="card_no" property="cardNo" />
        <result column="card_type" property="cardType" />
        <result column="user_id" property="userId" />
        <result column="use_time" property="useTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="black_flag" property="blackFlag" />
        <result column="white_flag" property="whiteFlag" />
        <result column="country_code" property="countryCode" />
    </resultMap>

</mapper>
