<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backdemo.mapper.RiskRecondMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.backdemo.entity.RiskRecond">
        <id column="id" property="id" />
        <result column="rule_id" property="ruleId" />
        <result column="event" property="event" />
        <result column="user_id" property="userId" />
        <result column="apply_no" property="applyNo" />
        <result column="card_no" property="cardNo" />
        <result column="is_delete" property="isDelete" />
        <result column="risk_level" property="riskLevel" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
